body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
    font-family: Didot, serif;
}
h2{
    padding-left: 20em;
}
#logo{
    display: flex;
    height: 5em;
    width: 5em;
    padding-right: 25em;
}

main {
    padding: 1em;
}
#form-div{
    align-self: center;
    align-items: center;
    width: 30em;
    padding-left: 30%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1em;
}

input, textarea, select, button {
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 5px;
}

button {
    background-color: grey;
    color: white;
    border:black;
    border-radius: 10px;
    cursor: pointer;
    height: 2em;
    margin-top: 1em;
}

button:hover {
    background-color: #C23131;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}